
@font-face {
	font-family: "SF-Pro-Display";
	src: url("../fonts/sf-pro-display_regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: "SF-Pro-Display";
	src: url("../fonts/sf-pro-display_semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: "SF-Pro-Text";
	src: url("../fonts/sf-pro-text_regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: "SF-Pro-Text";
	src: url("../fonts/sf-pro-text_semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal
}
@font-face {
	font-family: "SF-Pro-Icons";
	src: url("../fonts/sf-pro-icons_light.woff2") format("woff2");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: "SF-Pro-Icons";
	src: url("../fonts/sf-pro-icons_semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal
}

