//footer
.footer {
  background: rgb(29, 29, 31);

  .nowrap {
    white-space: nowrap;
  }

  .footer-inner {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1.3333733333;
    font-size: 12px;

    @include responsive('t') {
      padding: 0 16px;
    }
  }

  //inner

  .group-note {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    padding: 17px 0 27px;

    .bold {
      color: rgba(255, 255, 255, 0.8);
    }

    .note-head {
      padding-bottom: .8em;
    }

    .note-list {
      list-style: decimal;
      list-style-position: outside;
      padding: 0 17px;

      li {
        list-style: inherit;
        padding-bottom: .8em;

        a {
          color: rgba(255, 255, 255, 0.8);
          text-decoration: underline;
        }

        p+p {
          padding-top: .8em;
        }
      }

      //li
    }

    //note-list
  }

  //group-note
  .group-menu {
    .nav-breadcrumbs {
      margin: 17px 0;
      @include flexbox(start, end);
      gap: 11px;
      @include responsive('t'){
        border-bottom: 1px solid rgba(255, 255, 255, 0.24);
        padding-bottom: 18px;
        margin-bottom: 0;
      }
      .link-breadcrumbs-logo{
        background-color: rgba(255, 255, 255, .92);
        width: 14px;
        height: 18px;
        mask-image: url(../images/icons/icon.svg);
      }
      .breadcrumbs-list{
        @include flexbox(start);
        gap: 11px;

      }
      .breadcrumbs-item{
        @include flexbox(center);
        gap: 11px;
        &::before{
          content: '';
          margin-top: 2px;
          width: 6px;
          height: 11px;
          background-color: rgba(255, 255, 255, .4);
          mask-image: url(../images/icons/icon_arrow.svg);
        }
      }
    }

    .nav-directory {
      @include flexbox(between,start);
      @include responsive('t'){
        flex-direction: column;
      }
      .directory-area {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        @include responsive('t'){
          width: 100%;
          gap: 0;
        }
        .title {
          color: rgba(255, 255, 255, 0.92);
          font-weight: 600;
          margin-bottom: 10px;
          display: block;
          @include responsive('t'){
            width: 100%;
            padding: 10px 0;
            margin-bottom: 0;
            cursor: pointer;
            @include flexbox(between);
            border-bottom: 1px solid rgba(255, 255, 255, 0.24);
            &::after{
              content: '';
              width: 6px;
              height: 11px;
              margin-right: 7px;
              background-color: rgba(255, 255, 255, 0.92);
              mask-image: url(../images/icons/icon_arrow.svg);
              rotate: (90deg);
              transition: rotate .3s;
            }
          }
        }
        @include responsive('t'){
          .directory-box{
            &.active{
              .title{
                border-color: transparent;
                &::after{
                  rotate: (-90deg);
                }
              }
              .directory-list{
                display: block;
              }
            }
          }
        }

        .directory-list {
          @include responsive('t'){
            display: none;
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.24);
            position: relative;
            padding: 10px 0 25px;
            &::after{
              content: "";
              position: absolute;
              bottom: 0;
              height: 1px;
              background-color: rgba(255, 255, 255, 0.24);
            }
          }
          .directory-item{
            a{
              @include responsive('t'){
                color: rgba(255, 255, 255, 0.8);
                padding: 10px 14px;
              }
            }
          }
          .directory-item+.directory-item {
            margin-top: 10px;
          }
          .directory-item:hover{
            a{
              text-decoration: underline;
            }
          }
        }

      }
    }
  }

  .group-copy {
    padding: 22px 0 11px;

    @include responsive('t') {
      padding: 17px 9px;
    }

    .shop-area {
      border-bottom: 1px solid rgba(255, 255, 255, 0.24);
      margin-bottom: 16px;
      padding-bottom: 19px;

      @include responsive('t') {
        border: 0;
        margin-bottom: 8px;
        padding-bottom: 8px;
      }

      a {
        color: rgb(41, 151, 255);
        text-decoration: underline;
      }
    }

    .info-area {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      @include responsive('t') {
        gap: 12px;
        flex-direction: column;
      }

      a {
        color: rgba(255, 255, 255, 0.8);

        &:hover {
          text-decoration: underline;
        }
      }

      .copy-wrap {
        display: flex;
        gap: 30px;

        @include responsive('t') {
          gap: 9px;
          flex-direction: column;
        }

        .info-list {
          display: flex;
          gap: 9px;
          flex-wrap: wrap;

          .info-item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 9px;

            &::after {
              content: "";
              height: 10px;
              width: 1px;
              background-color: rgba(255, 255, 255, 0.4);
            }

            &:last-child::after {
              content: none;
            }
          }
        }
      }
    }

  }
}

//footer